<!DOCTYPE html>
<html lang="en" xmlns :th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App1</title>
</head>
<body>
     <form th : "@{/register}"  th:object =" ${user}" method="post">
      <label for="firstName"> Firstname</label>
     <input type="text" name="firstName"  id="firstName"> 
     <br>
     
      <label for="lastName"> Lastname</label>
     <input type="text" name="lastName"  id="lastName"> 
     <br>
     
      <label for="email"> Email</label>
     <input type="email" name="email"  id="email"> 
     <br>
     
      <label for="password"> password</label>
     <input type="password" name="password"  id="password"> 
     <br>
     
     <button type="submit">Register</button>
     </form>
</html>